:root{
    --text-black-color:rgba(0,0,0,0.8);
    --bg-blue-color:#011627;
    --input-label-color: #b1b1b1;
    --input-val-color :#333333;
    --btn-color: #457B9D;
    --input-border-color: #d8d8d8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/roboto-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/roboto-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: sans-serif;
  display: flex;
  /* overflow-y: hidden; */
}
a{
    text-decoration: none;
}
header{
    background-color: var(--bg-blue-color);
    min-width: 333px;
    padding: 20px;
    position: fixed; 
    top: 0;
    left: 0;
    transition: left 0.7s ease;
    z-index: 1;
    height: 100vh;
}

.logo{
    display: inline-block;
}
.header-profile-container{
    display: flex;
    justify-content: space-between;
}
.user-profile{
    display: flex;
    align-items: center;
    gap:5px;
}
.user-profile div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.user-name{
    font-weight: normal;
    color: #ffffff;
}
.user-profile div p{
    color: #ffffff;
}
.user-profile-img  {
  border: 1px solid black; 
  border-radius: 50%;
}

.header-profile-container .toggle-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-profile-container .toggle-wrapper img{
    width: 19px;
    height: auto;
}
.header-profile-container .toggle-wrapper .toggle-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-profile-container .toggle-wrapper input[type="checkbox"]{
    display: none;
}
.header-profile-container .toggle-wrapper .toggle-label{
    width: 44px;
    height: 24px;
    border-radius: 80px;
    background-color: #d2d2d2;
    cursor: pointer;
    position: relative;
}
.header-profile-container .toggle-wrapper .toggle-label:before{
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    transition: transform 0.2s ease;
    top: 1px;
    left: 1px;
    right: 0;
    display: block; 
}
.header-profile-container .toggle-wrapper input[type="checkbox"]:checked + .toggle-label:before{
    transform: translateX(100%);
    background-color: var(--btn-color);
    right: 1px;
    left: 0;
}
.header-profile-container .toggle-wrapper input[type="checkbox"]:checked + .toggle-label{
    width: 44px;
    height: 24px;
    border-radius: 80px;
    background-color: #ffff;

}
nav ul{
    list-style: none;
    padding: 20px 0;
}
nav ul li{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
}
.nav-item{
    border-bottom: 1px solid rgb(49, 69, 80);
}

nav ul li a{
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    font-size: 1.1rem;
}
.nav-item.active{
   background-color: #fff;
}
.nav-item.active a{
    color: var(--bg-blue-color);
}
/*Main*/

main{
    padding: 35px;
    margin-left: 333px;
    transition: margin-left 0.7s ease;
    width: 100%;
    position: relative;
}
.menubar{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    gap: 25px;
}
.menubar button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.menubar > div{
    display: flex;
    gap: 20px;
}
.menubar div button{
    border-right: 1px solid rgba(0,0,0,0.2);
    padding-right: 20px;
    position: relative;
}
.menubar div button img{
    position: relative;
}
.menubar div button span{
    position: absolute;
    width: 6px;
    height:6px;
    background-color: #e63946;
    border-radius: 50%;
    right: 21px;
    top: 11px;
}
.menubar .main-header{
    color: var(--bg-blue-color);
    text-transform: uppercase;
    font-size: 1.33vw;
}

/*Audit Details */
.audit-datails-wrapper{
    padding:28px 40px 50px 50px;
}
.audit-datails-wrapper .audit-detail-header{
    text-transform: uppercase;
    color: var(--text-black-color);
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(221, 222, 223);
    font-size: 0.84vw;
}

.audit-datails-wrapper .audit-form-wrapper{
    padding-top: 35px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container{
    display: flex;
    gap: 200px;
    align-items: flex-start;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container label{
    color: var(--input-label-color);
    display: block;
    margin-bottom: 7px;
    font-size: 13px;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group{
    margin-bottom: 30px;
}

.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .input-wrapper{
    position: relative;
}

.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .input-wrapper .error{
    color:rgb(242, 18, 18);
    font-size:15px;
    visibility:hidden;
    margin-top: 4px;
    position: absolute;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .input-wrapper.error .error{
    visibility: visible;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container label .mandatory{
    color: red;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container input{
    border: none;
    border-bottom: 1px solid var(--input-border-color);
    color: var(--input-val-color);
    padding-bottom: 7px;
    outline: none;
    font-size: 15px;
    width: 280px;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container input[type="file"]{
    display: none;
}
/* .audit-datails-wrapper .audit-form-wrapper .audit-form-container input:focus{
    border: none;
    border-bottom: 1px solid var(--input-border-color);
} */
.audit-datails-wrapper .audit-form-wrapper .audit-form-container input::placeholder{
    color: var(--input-val-color);
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container input[type="date"]{
    background-image: url('../images/calendar.png');
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 16px;
  color: transparent; 
  caret-color: transparent;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container input[type="date"]:focus {
  color: transparent;
  caret-color: transparent;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container .date-field {
  position: relative;
}

.audit-datails-wrapper .audit-form-wrapper .audit-form-container .visual-date {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--input-val-color);
  font-size: 15px;
}

.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .browse-btn{
    color: var(--bg-blue-color);
    border: 1px solid var(--bg-blue-color);
    background-color: transparent;
    padding: 5px 17px;
    border-radius: 3px;
}


.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .select-wrapper {
    position: relative;
    width: 280px;
}

.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .select-wrapper select {
    -webkit-appearance: none;
    appearance: none;
    /* padding-right: 30px;  */
    width: 100%;
        border: none;
        border-bottom: 1px solid var(--input-border-color);
        color: var(--input-val-color);
        padding-bottom: 7px;
        outline: none;
        font-size: 15px;
}


.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .select-wrapper::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 6px;
  background-image: url('../images/drop-down.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.audit-form-outer-wrapper .audit-form-btn-container{
    display: flex;
    gap: 15px;
}
.audit-form-outer-wrapper .audit-form-btn-container button{
    padding: 8px 25px;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px;
}

.audit-form-outer-wrapper .audit-form-btn-container .submit-btn{
    background-color: var(--btn-color);
    color: white;
}

.audit-form-outer-wrapper .audit-form-btn-container .cancel-btn{
    background-color:  white;
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
}